<div>
    <span ng-show="user">
      {{user.name}} | <a ng-click="logout()">Logout</a>
    </span>
    <span ng-hide="user"><a ng-click="login()">Login</a></span>
</div>

<div class="col-lg-4">
	<form ng-submit="saveTweet()" class="form-signin">
		<input type="text" class="form-control" placeholder="What is your name?" ng-model="newTweetUser" />
        <input type="text" class="form-control" placeholder="Tweet Something" ng-model="newTweetMessage" />
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Tweet" />
    </form>
</div>
<div class="col-lg-8">
	<div class="container">
		<div class="row">
			<div class="col-lt-12">
				<input type="text" class="form-control" placeholder="Find a Tweet" ng-model="filterTweet">
			</div>
			<a class="col-lt-12" ng-repeat="tweet in tweets | filter:filterTweet | orderBy:'id':'reverse'" href="#/tweet/{{tweet.id}}">
				<h4>{{tweet.user}}</h4>
				<p>{{tweet.tweet}}</p>
			</a>
		</div>
	</div>
</div>